<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangshun.ms"
    android:versionCode="1"
    android:versionName="1.0">
    <!--本地应用版本号1，版本号2，有必要提示更新-->
    <!--android:versionName="1.2.1"
    版本名称1.0.1：最后一位代表修复原有版本的bug
    倒数第二位代表更新部分功能
    第一位代表项目重大更新（代码重构、大部分功能添加，界面整体修改）-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页-->
        <activity android:name=".activity.HomeActivity" android:launchMode="singleTask">
            <intent-filter>
                <!-- 这个名字可以随便取 -->
                <action android:name="aaa.bbb.ccc"></action>

                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <!--设置-->
        <activity android:name=".activity.SettingActivity" />

        <activity android:name=".activity.LostFindActivity" />
        <activity android:name=".activity.Setup1Activity" />
        <activity android:name=".activity.Setup2Activity" />
        <activity android:name=".activity.Setup3Activity" />
        <activity android:name=".activity.Setup4Activity" />
        <activity android:name=".activity.ContactActivity" />
        <activity android:name=".activity.AToolsActivity" />
        <activity android:name=".activity.AddressActivity" />
        <activity android:name=".activity.AppManagerActivity" />
        <activity android:name=".activity.CallSafeActivity" />
        <activity android:name=".activity.CallSafe2Activity" />
        <activity android:name=".activity.TaskManagerActivity" />
        <activity android:name=".activity.TaskManagerSettingActivity" />
        <activity android:name=".activity.AntivirusActivity" />
        <activity android:name=".activity.CleanCacheActivity" />
        <activity android:name=".activity.TrafficManagerActivity" />

        <!-- theme透明效果 -->
        <activity
            android:name=".activity.DragViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 设备管理器 -->
        <!-- <receiver -->
        <!-- android:name=".receiver.AdminReceiver" -->
        <!-- android:description="@string/sample_device_admin_description" -->
        <!-- android:label="@string/sample_device_admin" -->
        <!-- android:permission="android.permission.BIND_DEVICE_ADMIN"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.device_admin" -->
        <!-- android:resource="@xml/device_admin_sample" /> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service android:name=".service.LocationService" />


        <service
            android:name=".service.AddressService"
            android:enabled="true"
            android:exported="true" />

        <service android:name="com.wangshun.ms.service.KillProcesWidgetService"></service>

        <!-- <receiver -->
        <!-- android:name=".receiver.OutCallReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter android:priority="2147483647"> -->
        <!-- <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name=".service.CallSafeService"
            android:enabled="true"
            android:exported="true"></service>


        <!-- 桌面小部件的配置 -->
        <receiver android:name="com.wangshun.ms.receiver.MyAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>


        <!-- 清理所有的进程 -->
        <receiver android:name="com.wangshun.ms.receiver.KillProcessAllReceiver">
            <intent-filter>
                <action android:name="com.wangshun.ms" />
            </intent-filter>
        </receiver>

        <!--设备管理器的广播接收者，锁屏、设密码、、、-->
        <receiver
            android:name=".receiver.AdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <!--开机广播-->
        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--拦截短信的广播-->
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>